﻿@model IEnumerable<Hospital_management.Models.Payments>

@{
    ViewBag.Title = "Getpayment";
}

<center>
    <h1>St. Nicholas Hospital</h1>
    <br />
    <br />
    <h3>Receipt</h3>
</center>

<div class="jumbotron">

    <table class="table text-center table-striped">
        @foreach (var item in Model)
        {
            @Html.HiddenFor(model => item.ID)
            <tr>
                <td>Fullname:</td>
                <td><span> @Html.DisplayFor(modelItem => item.Firstname)  @Html.DisplayFor(modelItem => item.Lastname)</span></td>
            </tr>
            <hr />
            <tr>
                <td>Amount paid</td>
                <td> @Html.DisplayFor(modelItem => item.Amountpaid)</td>
            </tr>
            <tr>
                <td>Transaction type</td>
                <td>
                    @Html.DisplayFor(modelItem => item.Transtype)
                </td>
            </tr>
            <tr>
                <td>Date:</td>
                <td>@Html.DisplayFor(modelItem => item.Transactiondate)</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
        }
    </table>
</div>


