﻿@model IEnumerable<Hospital_management.Models.Payments>

@{
    ViewBag.Title = "Payments";
}

<h2>Payments</h2>

<p>
    @Html.ActionLink("Create New", "Payments_edit", new { @class="btn btn-primary"})
</p>
<table id="dataTable" class="table table-striped">
    <thead>
        <tr>
            <th>
               <span>Payment ID</span>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Firstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lastname)
            </th>
          
            <th>
                @Html.DisplayNameFor(model => model.Transtype)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.Amountpaid)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.Submittedon)
            </th>
            <th></th>
        </tr>
    </thead>
    
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="/Payments/payments_edit/@item.ID">@item.ID</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Firstname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lastname)
                </td>
               
                <td>
                    @Html.DisplayFor(modelItem => item.Transtype)
                </td>
              
                <td>
                    @Html.DisplayFor(modelItem => item.Amountpaid)
                </td>
               
                <td>
                    @Html.DisplayFor(modelItem => item.Submittedon)
                </td>
                <td>
                    <a href="/Payments/print/@item.ID"><i class="fas fa-print"></i></a> | <span><a href="/Payments/deletepayment/@item.ID"><i class="fas fa-trash"></i></a></span>
                </td>
            </tr>
        }
    </tbody>


</table>
