﻿
@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>

<div class="jumbotron">
    <h1>St. Nicholas HMS!</h1>
    <p>Welcome to the payments portal. Manage patients, register payments and print Receipts</p>
    <p><a class="btn btn-primary btn-lg" href="/payments/index" role="button">Begin</a></p>
</div>


