﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - St. Nicholas Hospital</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("St. Nicholas Hms", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @if (Session["Username"] != null)
                {
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Patients", "Index", "Patients")</li>
                        <li>@Html.ActionLink("Payments", "Index", "Payments")</li>
                        <li>@Html.ActionLink("[Admin]", "Users", "Admin")</li>
                        <li><a href="/Home/logout">Log off</a></li>
                        <li><a class="pull-right" href="#">Welcome, <b>@Session["Username"]</b></a></li>
                    </ul>
                }
                else
                {
                    <ul class="nav navbar-nav">

                        <li><a href="/Home/Login">Log In</a></li>
                    </ul>
                }
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - St. Nicholas Hms</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @* For datepicker *@
    <script type="text/javascript">
        $(function () { // will trigger when the document is ready
            $('.datepicker').datepicker(); //Initialise any date pickers
        });
    </script>
    @* For toastr notfication *@
    <script>
          @if (TempData["success"] != null)
    {
        @:toastr.success("@TempData["message"]");
    }
    else if (TempData["error"]!= null)
    {
        @:toastr.error("@TempData["message"]");
    }
    </script>

    @* For datatable *@
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable({
                "paging": true,
                "ordering": true,
                "info": true
            });
        });
    </script>

    @* For searchable dropdiowns *@

    <script>
        $(function () {
            $("#normaldropdown").chosen();
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
