﻿@model IEnumerable<Hospital_management.Models.Users>

@{
    ViewBag.Title = "Users";
}

<h2>Users</h2>

<p>
    @Html.ActionLink("Create New", "Users_edit")
</p>
<table id="dataTable" class="table table-striped">
    <thead>
        <tr>
            <th>
                <span>User ID</span>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Firstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lastname)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Submittedon)
            </th>
            <th></th>
        </tr>
    </thead>
    
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="/Admin/Users_edit/@item.ID">@item.ID</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Firstname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lastname)
                </td>


                <td>
                    @Html.DisplayFor(modelItem => item.Submittedon)
                </td>
                <td>
                    <a href="/admin/deleteuser/@item.ID"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>



</table>
