﻿@model IEnumerable<Hospital_management.Models.Patients>

@{
    ViewBag.Title = "Patients";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "patient_edit")
</p>
<table id="dataTable" class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PatientID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Firstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lastname)
            </th>
           
           
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Submittedon)
            </th>
           
           
        </tr>
    </thead>
    
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <a href="/Patients/patient_edit/@item.PatientID">@item.PatientID</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lastname)
            </td>


            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Submittedon)
            </td>

            
        </tr>
        }
    </tbody>


</table>
